* {
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100%;
  }
  body {
    font-family: "Permanent Marker", cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('https://th.bing.com/th/id/OIG2.lsbRMOBBnuGaST8CDmzG?pid=ImgGn') no-repeat center center fixed;
    background-size: cover; 
  }
  .gameContainer {
    text-align: center;
    background: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  h1 {
    font-size: 40px;
    color: #9e8824;
    margin-bottom: 20px;
  }
  .board {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0; 
  }

  .cell {
    font-size: 4rem;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    text-align: center;
    text-transform: lowercase;
    cursor: pointer;
    user-select: none;
    display: flex; 
    align-items: center;
    justify-content: center;
  }
  
  .cell:nth-child(3n) {
    border-right: none; 
  }
  
  .cell:nth-child(n + 7) {
    border-bottom: none; 
  }
  .statusText {
    font-size: 30px;
    color: rgb(92, 8, 8);
    margin: 20px 0;
  }
  .restartBtn {
    background-color: #af9e4c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .restartBtn:hover {
    background-color: #8a7924;
  }
  